[submodule "Examples/Plugins/makefile/example"]
	path = Tutorials/Plugins/makefile/example
	url = https://github.com/snapcraft-doc-samples-unofficial/makefile-example.git
[submodule "Examples/Plugins/makefile-lib/example"]
	path = How_To_Guides/Plugins/makefile-lib/example
	url = https://github.com/snapcraft-doc-samples-unofficial/makefile-lib-example.git
[submodule "Examples/Plugins/makefile-lib-patchelf/example"]
	path = Examples/Plugins/makefile-lib-patchelf/example
	url = https://github.com/snapcraft-doc-samples-unofficial/makefile-lib-patchelf-example.git
[submodule "How_To_Guides/Plugins/autotools-classic/example"]
	path = How_To_Guides/Plugins/autotools-classic/example
	url = https://github.com/snapcraft-doc-samples-unofficial/autotools-classic-example.git
[submodule "How_To_Guides/Plugins/python-ctypes-classic/example"]
	path = How_To_Guides/Plugins/python-ctypes-classic/example
	url = https://github.com/snapcraft-docs/python-ctypes-example.git
